* {
    margin: 0;
    padding: 0;

}

body {

    background-color: antiquewhite;
    height: 100vh;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:rgb(52, 50, 50);
    margin-top: 5%;
    margin-bottom: 1%;

    
}

.navbar1 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    

}

@media (max-width: 628px) {      
    .navbar-nav {
        flex-direction: column;   
        align-items: center;  
        padding: 0vh;                
        width: 100%; 
        justify-content: space-around;
        gap: 10px;             
    }
    .pindex {
        text-align: center;
    }

    .navbar1 {
        
        padding: 0vh;
        margin-top: 0vh;
        margin-bottom: 0vh;
        
    }
    .msgbox-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }


}


@media (max-width: 1088px)
{
   .results-box
   {
      display: none !important;
      width: 0%;
   }
   .game-box{
    width: 90% !important;
   }
}

    

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63%;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
}

a {

    color: black;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
}

a:hover {
    color: red!important;
}

.results-box {
    display: flex;
    justify-content: center;
    height: 97%;
    width: 15%;
    background-color: rgb(182, 140, 161);
}

.description-box {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items:center;
    padding-top: 1%;

    justify-content:flex-start;
    height:97%;
    width: 15%;
    background-color: rgb(182, 140, 161);
}

.game-box {
    position: relative;
    height: 97%;
    width: 70%;
    background-color: rgb(214, 208, 134);

}

.container {
    display: flex;
    height:100%;
    width: 100%;
}

.msgbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;

}

.inpbox {
    width: 35%;
    height: 5vh;
    padding: 5px;      
    box-sizing: border-box; 
    font-size: 16px;    
    border: 1px solid #d4632a; 
    border-radius: 4px; 
    transition: border-color 0.3s;
    resize: none;
}

.msgbox {
    vertical-align: top;
    line-height: 1.2;
    width: 35%;
    height: 20vh;
    padding: 5px;       
    box-sizing: border-box; 
    font-size: 16px;    
    border: 1px solid #d4632a; 
    border-radius: 4px; 
    transition: border-color 0.3s;
    resize: none;



}

.msgbox:focus {
    input:focus {
        border-color: #007BFF; 
        outline: none;         
    }
}

.msgsend {
    width: 35%;
    height: 5vh;
    padding: 5px;       
    box-sizing: border-box; 
    font-size: 16px;   
    border: 1px solid #d4632a; 
    border-radius: 4px; 
            
    transition: border-color 0.3s;
    resize: none;
    color: white;
    background-color: #d4632a;
}

.msgsend:hover {
    background-color: #7a3919;
}

.contacts {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.btn1 {
    margin-top: 2vh;
    width: 13.3vw;
    height: 5vh;
    margin-bottom: 2vh;
}

.btn2 {
    width: 10vh;
    height: 10vh;
}

.rez-lentele {
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 4vh;
}

p {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.description-p {
    padding: 2vh;
    text-align:left;
}

.description-name {
    width: 13vw;
    height: 5vh;
    padding-left: 2px;
}

.gamebox-toprez {

    margin-top: 2vh;
    margin-bottom: 2vh;
    
}


#grez0, #grez1, #grez2, #grez3, #grez4, #grez5, #grez6, #grez7, #grez8, #grez9 {

    margin-bottom: 4vh;
    margin-left: 2.5vh;
    font-family: "Roboto", sans-serif;
    font-size: 2.1vh;

}

.top10 {
    text-align: center;
    margin-bottom: 5vh;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

